body {
	margin: 0;
	padding: 0;
	background-color: #333333;
	font-family: verdana;
}

#sideBar {
	float: left;
	width: 20%;
	background-color: #303030;
	color: #F2F2F2;
	box-shadow: 0.5em 0em 0.9em #000;
	font-family: 'Ubuntu Condensed', sans-serif;
	border-bottom-right-radius: 5px;
	padding-bottom: 5px;
}

#contenido {
	width: 80%;
	background-color: #FFF;
	float: left;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.btn_sidebar {
	background-color: #4873A8;
	width: 96%;
	height: 25px;
	margin: 0 2%;
	text-align: center;
	border-bottom: 1px solid #232323;
	padding-top: 8px;
}

.btn_sidebar:hover {
	background-color: #7CA3CC;
}

#sideBar a:link, #sideBar a:active, #sideBar a:visited {
	color: #f2f2f2;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0 1px 1px black;
}

#sideBar a:hover {
	color: #f2f2f2;
}

.tit_sidebar {
	width: 96%;
	height: 75px;
	margin: 0 2%;
}

.tit_sidebar h3{
	font-size: 16px;
	padding-top: 50px;
	text-align: center;
	color: #FFF;
}

.tit_sidebar img{
	padding-top: 10px;
	text-align: center;
}

#contenido_prueba {
	height: auto;
	margin: 40px;
}

.primer_btn_sidebar {
	border-top-right-radius: 5px;
}

.ultimo_btn_sidebar {
	border-bottom-right-radius: 5px;
}

.sub_menu_desplegable{
	width: 92%;
	margin: 0 2%;
	background-color: #333;
	padding: 5px;
	display: none;
}

.sub_menu_desplegable a:link,.sub_menu_desplegable a:visited,.sub_menu_desplegable a:active{
	display: block;
	padding: 5px;
	text-align: center;
	color: #ddd !important;
	text-shadow: none !important;
}

.sub_menu_desplegable a:hover{
	/*text-decoration: underline !important;*/
	background-color: #222;
}

#contenido_thumbs {
	width: 90%;
	margin: 50px auto;
	height: auto;
	/*background-color: blue;*/
}

.fila_thumbs {
	height: 150px;
	width: 100%;
	/*background-color: red;*/
}

.thumb {
	width: 150px;
	height: 150px;
	background-color: #f3f3f3;
	border: 1px solid #ebe9e9;
	float: left;
	margin-left: 26px;
}

.thumb:hover {
	box-shadow: 0 0 0.5em #ddd;
	cursor: pointer;
}

.thumb h2{
	font-size: 60px; 
	margin: 30px 45px; 
	color: #aaa;
}

.thumb:hover h2{
	color: #4873A8;
	width: 100%;
}

.thumb:hover small{
	color: #4873A8;
	width: 100%;
}

.thumb small{
	color: #aaa;
	margin-top: -30px;
	text-align: center;
	display: block;
}































































}