body {
	margin: 0;
	padding: 0;
	background-color: #333333;
	font-family: verdana;
}

:focus{
	outline: none;
}

#contenido_prueba {
	height: auto;
	margin: 40px;
}

/* ----- INICIO SIDEBAR ----- */

#sideBar {
	float: left;
	width: 20%;
	background-color: #303030;
	color: #F2F2F2;
	box-shadow: 0.5em 0em 0.9em #000;
	font-family: 'Ubuntu Condensed', sans-serif;
	border-bottom-right-radius: 5px;
	padding-bottom: 5px;
}

.btn_sidebar {
	background-color: #4873A8;
	width: 96%;
	height: 25px;
	margin: 0 2%;
	text-align: center;
	border-bottom: 1px solid #232323;
	padding-top: 8px;
}

.btn_sidebar:hover {
	background-color: #7CA3CC;
}

#sideBar a:link, #sideBar a:active, #sideBar a:visited {
	color: #f2f2f2;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0 1px 1px black;
}

#sideBar a:hover {
	color: #f2f2f2;
}

.tit_sidebar {
	width: 96%;
	height: 75px;
	margin: 0 2%;
}

.tit_sidebar h3{
	font-size: 16px;
	padding-top: 50px;
	text-align: center;
	color: #FFF;
}

.tit_sidebar img{
	padding-top: 10px;
	text-align: center;
}

.primer_btn_sidebar {
	border-top-right-radius: 5px;
}

.ultimo_btn_sidebar {
	border-bottom-right-radius: 5px;
}

.sub_menu_desplegable{
	width: 92%;
	margin: 0 2%;
	background-color: #333;
	padding: 5px;
	display: none;
}

.sub_menu_desplegable a:link,.sub_menu_desplegable a:visited,.sub_menu_desplegable a:active{
	display: block;
	padding: 5px;
	text-align: center;
	color: #ddd !important;
	text-shadow: none !important;
}

.sub_menu_desplegable a:hover{
	/*text-decoration: underline !important;*/
	background-color: #222;
}

/* ----- FIN SIDEBAR ----- */

/* ----- INICIO CONTENIDO Y THUMBS (ICONOS) ----- */

#contenido {
	width: 80%;
	background-color: #FFF;
	float: left;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

#contenido_thumbs {
	width: 90%;
	margin: 50px auto;
	height: auto;
	/*background-color: blue;*/
}

.fila_thumbs {
	height: 150px;
	width: 100%;
	/*background-color: red;*/
}

.thumb {
	width: 150px;
	height: 150px;
	background-color: #f3f3f3;
	border: 1px solid #ebe9e9;
	float: left;
	margin-left: 26px;
}

.thumb:hover {
	box-shadow: 0 0 0.5em #ddd;
	cursor: pointer;
}

.thumb h2{
	font-size: 60px; 
	margin: 30px 45px; 
	color: #aaa;
}

.thumb:hover h2{
	color: #4873A8;
	width: 100%;
}

.thumb:hover small{
	color: #4873A8;
	width: 100%;
}

.thumb small{
	color: #aaa;
	margin-top: -30px;
	text-align: center;
	display: block;
}

/* ----- FIN THUMBS (ICONOS) ----- */


/* ----- INICIO COLUMNAS ----- */

#form_col_izqda {
	width: 50%;
	height: auto;
	float: left;
	/*background-color: white;*/
}

#form_col_dcha {
	width: 50%;
	height: auto;
	float: left;
	/*background-color: red;*/
}

#form_col_center{
	width: 100%;
	height: auto;
	float: left;
}

/* ----- FIN COLUMNAS ----- */


/* ----- INICIO FORMULARIO BORRAR OPERARIO ----- */

#formBorrar input{
	padding:5px;
	margin-bottom:10px;
}

#formBorrar input[type=submit]{
	padding:10px;
	font-size:25px;
}

#formBorrar .thumb{
	width:auto !important; 
	height:auto !important;
	padding:10px;
	margin-bottom:20px;
	margin-left:40%;
}

/* ----- FIN FORMULARIO BORRAR OPERARIO ----- */


/* ----- INICIO FORMULARIO CONTENEDOR FORMULARIO ----- */
#contenedor_form {
	width: 96%;
	margin: 20px 2%;
	height: auto;
	background-color: #f3f3f3;
	display: table;
	border: 1px solid #ebe9e9;
}

#contenedor_form h2{
	font-size: 30px;
	color: #333;
	text-align: center;
}

/* ----- FIN FORMULARIO CONTENEDOR FORMULARIO ----- */

/* ----- INICIO FORMULARIO ----- */

.form{
	font-family: verdana;
	width: 90%;
	height: auto;
	margin: 50px 5%;
}

.form_input {
	width: 500px;
}

.form_input input{
	padding:5px;
	width: 40%;
}

.form_input label {
	width: 150px;
	display: inline-block;
	vertical-align: top;
	font-size: 12px;
	font-weight: bold;
	color: #333;
}

.form_input input[type="text"] {
	border: 1px solid #ebe9e9;
	width: 40%;
	font-family: verdana;
	font-size: 12px;
	color: #333;
	padding: 5px;
}

.form_input input[type="text"]:focus {
	background-color: #f7f7f7;
}

.form_input input[type="tel"] {
	border: 1px solid #ebe9e9;
	width: 40%;
	font-family: verdana;
	font-size: 12px;
	color: #333;
	padding: 5px;
}

.form_input input[type="tel"]:focus {
	background-color: #f7f7f7;
}

.form_input input[type="time"] {
	border: 1px solid #ebe9e9;
	width: 40%;
	font-family: verdana;
	font-size: 12px;
	color: #333;
	padding: 5px;
}

.form_input input[type="time"]:focus {
	background-color: #f7f7f7;
}

.form_input input[type="datetime-local"] {
	border: 1px solid #ebe9e9;
	width: 40%;
	font-family: verdana;
	font-size: 12px;
	color: #333;
	padding: 5px;
}

.form_input input[type="datetime-local"]:focus {
	background-color: #f7f7f7;
}

.form_input textarea {
	border: 1px solid #ebe9e9;
	width: 40%;
	height: 150px;
	font-family: verdana;
	font-size: 12px;
	color: #333;
	padding: 5px;
}

.form_input textarea:focus {
	background-color: #f7f7f7;
}

.form_input select {
	border: 1px solid #ebe9e9;
	width: 40%;
	height: 35px;
	font-family: verdana;
	font-size: 12px;
	color: #333;
	padding: 5px;
}

.form_input select option {
	width: 150px;
	height: 35px;
	padding: 5px;
}

.form_input select:focus {
	background-color: #f7f7f7;
}

.option_tipo_trabajo_aviso{
	width: 150px;
	height: 35px;
	padding: 5px;
	min-height: 25px;
}

.form_input input[type="submit"] {
	width: 200px;
	font-family: verdana;
	padding: 5px;
	background-color: #4873A8;
	border: 1px solid #3A5F8B;
	height: 35px;
	margin-top: 15px;
	color: #f2f2f2;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0 1px 1px black;
	cursor: pointer;
	border-radius: 5px;
}

.form_input input[type="submit"]:hover {
	background-color: #7CA3CC;
}

.form_input input[type="button"] {
	width: 200px;
	font-family: verdana;
	padding: 5px;
	background-color: #4873A8;
	border: 1px solid #3A5F8B;
	height: 35px;
	margin-top: 15px;
	color: #f2f2f2;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0 1px 1px black;
	cursor: pointer;
	border-radius: 5px;
}

.form_input input[type="button"]:hover {
	background-color: #7CA3CC;
}

/* ----- FIN FORMULARIO ----- */

/* INICIO FORMULARIO NUEVO AVISO */
#importe_aviso {
	width: 100px !important;
}

#valida_nota_aviso {
	float: right;
}

/* FIN FORMULARIO NUEVO AVISO */

/* COMIENZO LOGIN */

.error_login {
	color: red;
	text-align: center;
	margin-top: 50px;
}

#nombre_empresa {
	text-align: center;
	color: white;
}

#contenedor_login {
	width: 500px;
	height: 300px;
	background-color: #fff;
	/*background-color: #ebe9e9;*/
	margin: 0 auto;
}

#inner_contenedor_login {
	background-color: #f3f3f3;
	width: 90%;
	height: 85%;
	margin: 5%;
	float: left;
	border: 1px solid #ebe9e9;
}

.input_login {
	width: 400px;
	height: 50px;
	margin-left: 75px;
}

.first_input_login {
	margin-top: 50px;
}

.input_login input[type="text"] {
	border: 1px solid #ebe9e9;
	width: 40%;
	font-family: verdana;
	font-size: 12px;
	color: #333;
	padding: 5px;
}

.input_login input[type="text"]:focus {
	background-color: #f7f7f7;
}

.input_login input[type="submit"] {
	width: 200px;
	font-family: verdana;
	padding: 5px;
	background-color: #4873A8;
	border: 1px solid #3A5F8B;
	height: 35px;
	margin-top: 15px;
	color: #f2f2f2;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0 1px 1px black;
	cursor: pointer;
	border-radius: 5px;
	margin-left: 45px;
	box-shadow: 0px 5px 0px #3A5F8B;
}

.input_login input[type="submit"]:hover {
	background-color: #5F94D6;
	
}

.input_login label {
	font-weight: bold;
	font-size: 12px;
	display: inline-block;
	width: 100px;
	height: 35px;
}

.input_login input[type="password"] {
	border: 1px solid #ebe9e9;
	width: 40%;
	font-family: verdana;
	font-size: 12px;
	color: #333;
	padding: 5px;
}

.input_login input[type="password"]:focus {
	background-color: #f7f7f7;
}

/* FIN LOGIN */


/* USUARIO LOGUEADO */

.nombre_usuario_logeado {
	text-align: center;
	margin: 15px auto;
}

.nombre_usuario_logeado span{
	font-size: 20px;
	color: #92C2FD;
}

.salir_usuario {
	text-align: center;
	margin: 15px auto;
}

.salir_usuario a:link, .salir_usuario a:hover, .salir_usuario a:visited, .salir_usuario a:active{
	color: red !important;
}

/* FIN USUARIO LOGUEADO */

/* PEDIDOS */
#cont_pedido{
	width: 95%;
	height: 850px;
	float: left;
	margin: 2.5%;
}
#cat_productos{
	float: left;
	width: 60%;
	height: 100%;
}
#prod_pedido{
	float: left;
	width: 40%;
	height: 75%;
}
#btns_pedido{
	float: left;
	width: 40%;
	height: 25%;
}
#carrito_pedido{
	float: left;
	width: 100%;
	height: 80%;
	background-color: #ddd;
}
#total_pedido{
	float:left;
	width: 100%;
	height: 20%;
	background-color: #333;
}
#total_pedido input{
	float:left;
	width: 50%;
	margin-top: 15px;
}
#total_pedido label{
	float: left;
	width: 35%;
	margin-top: 15px;
	margin-left: 10px;
}
/* FIN PEDIDOS */